
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html,body
{
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    overflow-x: hidden; 
    scroll-behavior: smooth;
    font-family: 'Roboto' , sans-serif;
}
.quote{
    font-size: 25px;
}
.container{
    max-width: 1500px
}
.txt{
    color: white;
}
.brd-card{
    border: solid;
border-color: rgb(148, 17, 17);
}
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
 
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: white; /* White text color */
}

.html {width: 90%; background-color: rgb(151, 28, 28);} /* Green */
.css {width: 80%; background-color: rgb(109, 41, 41)} /* Blue */
.js {width: 65%; background-color: rgb(136, 77, 77)} /* Red */
.php {width: 60%; background-color: rgb(119, 75, 75)} /* Dark Grey */
.logo{
    color: #fff;
    
     
    
}
.ss{
    font-size: 20px;
}
nav{
 height: 80px;
   
 background-color: black; 
}
  
 .container{
    margin: 0 auto;
    max-width: 1100px;
 }
 .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 50px;
    height: 100%;
    
     
 }
 .logo a:hover{
     text-decoration: none;
     color: white;
     
 }
 .log{
    text-decoration: none;
     font-size: 24px;
     
     color: rgb(255, 255, 255);
    font-weight: 700;
    
 }
 .menu ul{
     display: flex;
     
 }
 .menu ul li{
    list-style: none;
    margin: 0 10px;
    
 }
 nav .menu ul li a {
     font-size: 17px;
     text-decoration: none;
     color: #fff;
     font-weight: 400;
     transition: all 400ms;
     letter-spacing: 1px;
 }
 
 nav .menu ul li a:hover{
     padding: 10px;
     border: none;
outline: none;
font-weight: 500;

     border-radius: 5px;
     background: #fff;

     color: black;
 }
 label i{
     color: #fff;
     font-size: 25px;
 }
#checking{
    display: none;
}
label{
    display: none;
}

 /*making responsive*/
@media (max-width: 830px)  {
    .menu ul{
        position: fixed;
        top: 80px;
        left:-100%;
        border-top: solid;
        border-color:rgb(148, 17, 17) ;

        background: #333;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 400ms;
    }
    .menu ul li{
        margin: 20px 0;
    }
    nav .menu ul li a {
        font-size: 23px;
    }
    nav .menu ul li a:hover{
        padding: unset;
        border: none;
   outline: none;
   font-weight: 500;
   
        border-radius: 5px;
        background: unset;
   
        color: rgb(148, 17, 17);
    }

    label{
        display: block;
    }
    #checking:checked ~ ul{
        left: 0%;

    }
    #checking:checked ~ label i::before{
content: '\f00d';
    }
}
